@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
}
.opacitylayer{
    background: linear-gradient(
        180deg,
        rgba(4,21,45,0) 0%,
        #04152d 79.19%
        );
}
.lazy-load-image-background{
    width: 100%;
}
::-webkit-scrollbar{
    display:none;
    
}
.CircularProgressbar .CircularProgressbar-text{
    font-size: 34px;
    font-weight: 700;
    
    fill: #04152d;
}
.CircularProgressbar .CircularProgressbar-trail {
    stroke: transparent;
    
}

